<h1 class="title center white">Living Constellations</h1>
<p class="center white">inspired by Conway's Game of Life</p>

<div class="center">
  <a href="/new" class="center">create your own</a>
</div>

<div class="organisms"></div>

<%= javascript_include_tag 'index.js' %>