<h1 class="title center white">Create Your Own Living Constellation</h1>
<div class="center">
  <a href="/" class="center">go back home</a>
</div>

<div class="new-cell-container">
  <table class="form col-md-4">
    <tr>
      <td>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="0-0"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="0-1"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="0-2"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="0-3"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="0-4"></button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="1-0"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="1-1"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="1-2"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="1-3"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="1-4"></button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="2-0"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="2-1"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="2-2"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="2-3"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="2-4"></button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="3-0"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="3-1"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="3-2"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="3-3"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="3-4"></button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="4-0"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="4-1"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="4-2"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="4-3"></button>
        <button type="button" class="star glyphicon glyphicon-star btn btn-primary" id="4-4"></button>
      </td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-primary" id="create">CREATE</button></td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-success" id="clear">CLEAR</button></td>
    </tr>
  </table>
</div>

<div class="organisms"></div>

<%= javascript_include_tag 'new.js' %>